body, html{
	font-family: 'Fira Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #E2CC96;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url("imgs/vcp.png");
	background-repeat: no-repeat;
	background-size: 100% 90vh;
}

a{
	text-decoration: none;
}

#container{
	max-width: 1300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;	
}

#firstDiv{
	text-align: center;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#firstDiv h5{
	color: white;
	margin: 0px;
	padding: 0px;
}

.logoImg{
	width: 40%;
	padding-bottom: 1rem;
}

.evt{
	color: white;
	font-size: 3rem;
	margin-bottom: 0px;
}

.evtSub{
	font-style: italic;
	color: white;
	margin-bottom: 3rem;
}

.button{
	border: 2px solid #E2B33D;
	color: #E2B33D;
	padding: 0.5rem 4rem;
	border-radius: 50px;
	cursor: pointer;
}

.button:hover { 
    background-color: #E2B33D;
	color: white;
}

#mobileButtons{
	display: none;
}

#secondDiv{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	text-align: center;
}

#secondDiv span{
	width: 30%;
	background-color: white;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5rem;
}

.column img{
	width: 65%;
}

.column h1{
	color: #747B20;
	margin-top: 0.5rem;
}

.column h4{
	color: #575656;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.divider{
	width: 50px;
	height: 3px;
	background-color: #E2B33D;
	margin-bottom: 1rem;
}

.links{
	width: 75%;
	border-bottom: 1px solid #747B20;
	text-align: left;
	padding: 1rem;
}

.links:last-child{
	border-bottom: none;
	margin-bottom: 4rem;
}

.links h3{
	margin: 0.5rem 0rem;
}

.links i{
	color: #747B20;
	margin-right: 0.5rem;
}

.links a{
	color: #575656;
}

.links a:hover{
	color: #E2B33D;
}

#footer{
	background-color: #575656;
	color: white;
	padding: 2rem;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	text-align: center;
}

.contact{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 1300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contact span{
	text-align: center;
	width: 25%;
	margin: 1rem 0rem;
}

.contact span i{
	color: #E2B33D;
}





@media (max-width: 900px) {
    body, html{
		background-size: 100% 100vh;
	}

	#firstDiv{
		height: 100vh;
	}
	
	.logoImg{
		width: 25%;
	}
	
	#secondDiv{
		justify-content: space-between;
	}
	
	#secondDiv span{
		width: 32%;
		margin-top: 0px;
		margin-top: -3px;
		text-align: center;
	}

	.column img{
		width: 60%;
	}
	
	#footer{
		padding: 1rem;
		padding-bottom: 0.5rem;
	}
	
	.contact{
		flex-flow: row wrap; 
		justify-content: center;
		align-items: center;
	}
	
	.contact span{
		width: 20%;
		margin: 1rem;
	}
}




@media (max-width: 750px) {
    #firstDiv{
		height: 100vh;
	}

	.logoImg{
		width: 40%;
	}
	
	.evt{
		font-size: 2rem;
	}
	
	#mobileButtons{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 2rem;
		width: 100%;
	}
	
	.button1{
		color: white;
		border: 1px solid white;
		padding: 0.5rem 1rem;
		cursor: pointer;
		width: 30%;
	}

	.button1:hover {
		color: #E2B33D;
		border: 1px solid #E2B33D;
	}
	
	#secondDiv{
		display: flex;
		flex-direction: column !important;
	}
	
	#secondDiv span{
		width: 100%;
		margin-top: 0px;
	}

	.column img{
		width: 60%;
	}

	.column h1{
		font-size: 2rem;
	}
	
	.links{
		width: 85%;
	}
	
	#footer{
		padding: 1rem;
		padding-bottom: 0.5rem;
	}
	
	.contact{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.contact span{
		width: 100%;
		margin-bottom: 1rem;
	}
}




@media (max-width: 480px) {
	#mobileButtons{
		flex-direction: column;
		margin-top: 3rem;
	}
	
	#mobileButtons a{
		margin: 1rem;
	}
}