body, html{
	font-family: 'Fira Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #E2CC96;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

a{
	text-decoration: none;
}

input[type=text], input[type=password]{
	border: none;
	width: 200px;
	height: 35px;
	border-radius: 50px;
	margin-bottom: 1rem;
	padding: 1rem;
}

input[type=submit], input[type=button]{
	border: 2px solid #E2B33D;
	background-color: #E2B33D;
	color: white;
	padding: 0.5rem 4rem;
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	font-size: 0.8rem;
}

#container{
	display: none;
}

#firstDiv{
	background-image: url("imgs/brc.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 90vh;
	text-align: center;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#firstDiv h5{
	color: white;
	margin: 0px;
	padding: 0px;
}

.logoImg{
	width: 20%;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.evt{
	color: white;
	font-size: 3rem;
	margin-bottom: 0px;
}

.evtSub{
	font-style: italic;
	color: white;
	margin-bottom: 2rem;
}

.button{
	border: 2px solid #E2B33D;
	background-color: #E2B33D;
	color: white;
	padding: 0.5rem 4rem;
	border-radius: 50px;
	cursor: pointer;
}

.button:hover { 
    background-color: #E2B33D;
	color: white;
}

#mobileButtons{
	display: none;
}

#secondDiv{
	display: flex;
	flex-direction: row !important;
	justify-content: space-around;
}

#secondDiv span{
	width: 30%;
	background-color: white;
	margin-top: -5%;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5rem;
}

.column img{
	width: 65%;
}

.column h1{
	color: #747B20;
	margin-top: 0.5rem;
}

.column h4{
	color: #575656;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.divider{
	width: 50px;
	height: 3px;
	background-color: #E2B33D;
	margin-bottom: 1rem;
}

.links{
	width: 75%;
	border-bottom: 1px solid #747B20;
	text-align: left;
	padding: 1rem;
}

.links:last-child{
	border-bottom: none;
	margin-bottom: 4rem;
}

.links h3{
	margin: 0.5rem 0rem;
}

.links i{
	color: #747B20;
	margin-right: 0.5rem;
}

.links a{
	color: #575656;
}

.links a:hover{
	color: #E2B33D;
}

#footer{
	background-color: #575656;
	color: white;
	padding: 2rem;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	text-align: center;
	display: none;
}

.contact{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.contact span{
	text-align: center;
	width: 25%;
	margin: 1rem 0rem;
}

.contact span i{
	color: #E2B33D;
}

#error{
	color: red;
	background-color: white;
	margin-top: 1rem;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	opacity: 0.6;
	display: none;
}

#loginScreen{
	background-image: url("imgs/brc.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.logoLogin{
	max-width:200px;
	width: auto;
	height: auto;
	margin-top: 2rem;
}

.empresa{
	font-size: 2rem;
	color: white;
}

.evtLogin{
	color: white;
	margin: 0px;
	padding: 0px;
}

#loginScreen p{
	font-family: 'Fira Sans', sans-serif;
	color: white;
	margin-top: 2rem;
	line-height: 1.5rem;
}

.loginForm{
	color: white;
	text-align: center;
	margin: 1rem 0rem;
}

input[type=text]{
	border: none;
	width: 200px;
	height: 35px;
	border-radius: 50px;
	margin-bottom: 1rem;
	padding: 1rem;
}

input[type=submit]{
	border: 2px solid #E2B33D;
	background-color: #E2B33D;
	color: white;
	padding: 0.5rem 4rem;
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	font-size: 0.8rem;
}

#error{
	color: red;
	background-color: white;
	margin-top: 1rem;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	opacity: 0.6;
}

.turisticos{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 150px;
	padding: 2rem 1rem 1rem 1rem;
	position: absolute;
	right: 40px;
}

.turisticos img{
	width: 80%;
}

.turisticos p:first-child{
	margin-bottom: 0.5rem;
	font-size: 0.6rem;
	color: #575656;
}

.turisticos p{
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: #575656;
}

@media (max-width: 900px) {
    body, html{
		background-size: 100% 100vh;
	}

	#firstDiv{
		height: 100vh;
	}
	
	.logoImg{
		width: 25%;
	}
	
	#secondDiv{
		justify-content: space-between;
	}
	
	#secondDiv span{
		width: 32%;
		margin-top: 0px;
		margin-top: -3px;
		text-align: center;
	}

	.column img{
		width: 60%;
	}
	
	#footer{
		padding: 1rem;
		padding-bottom: 0.5rem;
	}
	
	.contact{
		flex-flow: row wrap; 
		justify-content: center;
		align-items: center;
	}
	
	.contact span{
		width: 20%;
		margin: 1rem;
	}
}




@media (max-width: 750px) {
    #firstDiv{
		height: 100vh;
	}

	.logoImg{
		width: 40%;
	}
	
	.evt{
		font-size: 2rem;
	}
	
	#mobileButtons{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 2rem;
		width: 100%;
	}
	
	.button1{
		color: white;
		border: 1px solid white;
		padding: 0.5rem 1rem;
		cursor: pointer;
		width: 30%;
	}

	.button1:hover {
		color: #E2B33D;
		border: 1px solid #E2B33D;
	}
	
	#secondDiv{
		display: flex;
		flex-direction: column !important;
	}
	
	#secondDiv span{
		width: 100%;
		margin-top: 0px;
	}

	.column img{
		width: 60%;
	}

	.column h1{
		font-size: 2rem;
	}
	
	.links{
		width: 85%;
	}
	
	#footer{
		padding: 1rem;
		padding-bottom: 0.5rem;
	}
	
	.contact{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.contact span{
		width: 100%;
		margin-bottom: 1rem;
	}
}




@media (max-width: 480px) {
	#mobileButtons{
		flex-direction: column;
		margin-top: 3rem;
	}
	
	#mobileButtons a{
		margin: 1rem;
	}
}